<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<form id="form1" action="#" class="form-horizontal" role="form" th:action="@{/update}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="id" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="id" th:field="*{id}"
                   placeholder="Please input id" th:readonly="${rcon}" th:onblur="'checkId();'" autofocus="true"/>
            <p id="wp" style="color:red;"></p>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="username" th:field="*{username}"
                   placeholder="Please input username"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">password</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="password" th:field="*{password}"
                   placeholder="Please input password"/>
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label for="upload-file-input" class="col-sm-2 control-label">Upload your file:</label>-->
    <!--<div>-->
    <!--<input id="upload-file-input" type="file" name="uploadfile" accept="*" />-->
    <!--</div>-->
    <!--<span id="upload-file-message"></span>-->
    <!--</div>-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>
</form>
<script>
    function checkId() {
        $("#wp").html("");
        if ($("#id").val() == null || $("#id").val() == "" || $("#id").val().length == 0) {
            $("#wp").html("Not null!!!");
            $("#id").focus();
            return;
        }
        var url = window.location;
//        alert(url);
        var formData = {
            id : $("#id").val()
        }
//        alert(formData.id);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: url + "/ajaxtest",
            data: JSON.stringify(formData),
            dataType: "json",
            success: function (result) {
                if(result.status == "No") {
//                    alert('this is call back: ' + result.data.id);
                    $("#wp").html("Warning!!!");
                    $("#id").focus();
                } else {
                    $("#wp").html("");
                }
            },
            error: function (e) {
                $("#wp").html("This is update page");
                console.log("ERROR: ",  e);
            }
        });
    }
</script>
</body>
</html>