<!DOCTYPE html>
<html en="lang" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<!--<h1 th:text="${hello}"></h1>-->
<button id="btnadd" type="submit" class="btn btn-primary" th:onclick="'javascript:addUser();'">Add</button>
<button id="btnlogin" type="submit" class="btn btn-primary" onclick="javascrtpt:window.location.href='/login'">Login</button>
<button id="btnlogout" type="submit" class="btn btn-primary" onclick="javascrtpt:window.location.href='/logout'">Logout</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Avatar</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user: ${userList}" th:id="'r' + ${user.id}">
            <td th:text="${user.id}"></td>
            <td>
                <img class="img-thumbnail" style="width: 70px; height: 70px" th:src="@{${user.id}+'.jpg'}" alt="avatar"/>
            </td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <!--th:onclick="'alert(\'' + ${user.id} + '\');'"-->
            <!--th:onclick="${'javascript:deleteUser(' + user.id + ');'}"-->
            <!--th:onclick="'alert(\'' + ${user.id} + '\');'"-->
            <td><button th:id="'btne' + ${user.id}" type="submit" class="btn btn-primary" th:onclick="'javascript:updateUser(' + ${user.id} + ');'">Edit</button></td>
            <td><button th:id="'btnd' + ${user.id}" type="submit" class="btn btn-primary" th:onclick="'javascript:deleteUser(' + ${user.id} + ');'">Delete</button></td>
        </tr>
    </tbody>
</table>
<script>
    function deleteUser(id) {
        $.ajax({
            type : "DELETE",
            url : "/hello/" + id,
            success: function (result) {
//                    alert(id + ' was deleted!');
                rid = "#r" + id
                $(rid).remove();
                console.log(result);
            },
            error: function (e) {
                alert('error')
                console.log(e);
            }
        });
    }
    function updateUser(id) {
        window.location.href="/update/" + id;
    }
    function addUser() {
        window.location.href="/add";
    }
</script>
</body>
</html>